@charset "utf-8";
/* CSS Document */
body{
	margin:0px auto;
	background-color:#fff;
	color:#666;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 76%;
	padding:0px;
}
.pagewrap{
	margin:0px auto;
	width:98%;
}
#header{
	margin:0px;
	width:100%;
	border-top:solid 5px #e5e8ec;
}
#header h1{display:inline-block; margin:0px; margin-top:8px;}
*:first-child+html #header h1{display:inline; float:left;}
#header h1 a{
	background:transparent url(../img/logo.png) left top no-repeat;
	float:left;
	height:20px;
	overflow:hidden;
	padding:25px 0 0 0; /* height of logo image */
	text-indent:-9000px;
	width:300px;
	}
*:first-child+html #header{margin-bottom:1px;}
 .ticker{display:block;  clear:both; background-color:#e5e8ec; padding:5px; color:#333; }
 .secondfold{display:inline-block; width:100%; padding-bottom:35px; background-color:#e5e8ec;  }
 .bodywraper{
	display:inline-block;
	padding:1%;
	border:solid 1px #d0d2d5;
	background-color:#FFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:5px;
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	position:relative;
	width: 81.5%;
	float:right;
 }
.bodywraper h1{
	font-weight:normal;
	color:#3E0139;
	margin:0px;
	display:block;
	border-bottom:solid 1px #bfbfbf;
	font-size:2em;
}
.bodywraper h1 span{
	color:#999;
}
.bodywraper h2{
	color:#4e81be;
	font-weight:normal;
}

.footer{ 
	display:block; 
	clear:both; 
	width:99.5%; 
	margin:0px 0.25%;
	position:fixed; 
	bottom:0px; 
	background-color:#7e4d84;
	border-top:solid 1px #999;
	border-left:solid 1px #999;
	border-right:solid 1px #999;
	-moz-border-radius-topleft:5px ;
	-moz-border-radius-topright:5px ;
	border-top-left-radius:5px ;
	border-top-right-radius:5px ;
	}
.footer .links{float:left; margin:5px 2px; }
.footer .links li { float:left; list-style:none;}
.footer .links li a {
	color:#FFF;
	font-size:0.92em;
	height:0.92em;
	margin-right:7px;
	padding-right:7px;
	}
foooter .links li.last a {
	background:none;
	padding-right:0;
	}
.footer .copyright {
	color:#FFF;
	float:right;
	font-size:0.92em;
	padding:5px 30px;
	margin:0px;
	}
.menu_scroll{
	background-color:#FFF; 
	padding:2px;
	border:solid 1px #d0d2d5;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:5px;
	-moz-border-radius-topleft:0px ;
	-webkit-border-top-left-radius: 0px;
	border-top-left-radius:0px ;
	-moz-border-radius-bottomleft:0px ;
	-webkit-border-bottom-left-radius: 0px;
	border-bottom-left-radius:0px ;
	width: 100%;
	float:left;
	position:relative;
	left:0px;
	display:inline-block;
	
}