@charset "utf-8";
/* CSS Document */

body{
	margin:0px auto;
	/*background:#EFEFEF url(../img/body_bg.png) repeat-x;*/
	background:#fff;
	color:#666;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 76%;
	padding:0px;
}
.pagewrap{
	margin:0px auto;
	width:98%;
	
}
#header{
	margin:0px 0px;
	 width:100%;
}
*:first-child+html #header{margin-bottom:1px;}
.firstfold{display:block; clear:both; height:170px; width:100%; background-color:#009e83;text-align:center; border-top:solid 5px #fec61f; }
.firstfold .banner{margin:0 auto;  display:inline-block; }
.banner .rm, .banner .bank, .banner .bm{display:inline-block; position:relative; }
*:first-child+html .banner .rm,*:first-child+html .banner .bank,*:first-child+html .banner .bm{display:inline; margin-right:3px;} 
.banner .rm span,.banner .bm span{position:absolute; bottom:0px; display:block; width:100%; background-color:#fff; padding:6px 0px; text-align:center; color:#333; font-weight:bold; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";filter: alpha(opacity=70);moz-opacity:0.7;-khtml-opacity: 0.7;opacity: 0.7;}
.banner .bank span{position:absolute; bottom:0px; display:block; width:100%; background-color:#fff; padding:6px 0px; text-align:center; color:#333; font-weight:bold; font-size:1.6em; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";filter: alpha(opacity=70);moz-opacity:0.7;-khtml-opacity: 0.7;opacity: 0.7;}

 .ticker{display:block;  clear:both; background-color:#EFEFEF; padding:5px; margin-bottom:10px;color:#333;}
 
.secondfold{display:inline-block; width:100%; padding-bottom:35px; }
.bodywraper{
	display:inline-block;
	padding:1%;
	border:solid 1px #d0d2d5;
	background-color:#FFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:5px;
	position:relative;
	width: 78.5%;
	float:left;
 	/*-moz-box-shadow: 0px 0px 4px #fff; /* FF3.5+ 
 	-webkit-box-shadow: 0px 0px 4px #fff; /* Saf3.0+, Chrome 
    box-shadow: 0px 0px 4px #fff; /* IE.9, opera 10.+*/
}
.framewraper{
	display:inline-block;
	padding:1%;
	border:solid 1px #d0d2d5;
	background-color:#fff;
	/*height:100%;*/
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:5px;
	width: 78.5%;
	position:relative;
	/*-moz-box-shadow: 0px 0px 4px #fff; /* FF3.5+ 
 	-webkit-box-shadow: 0px 0px 4px #fff; /* Saf3.0+, Chrome 
    box-shadow: 0px 0px 4px #fff; /* IE.9, opera 10.+*/
	float:left;
}

/* common Characteristics */
*|*:-moz-any-link:focus {outline:none;}
button::-moz-focus-inner { border: 0px; }
a:focus{outline:none;}
button:focus{outline:none;}
/*_________________________Header portion starts here______________________*/
#header h1 a{
	background:transparent url(../img/logo.jpg) left top no-repeat;
	float:right;
	height:20px;
	overflow:hidden;
	padding:40px 0 0 0; /* height of logo image */
	text-indent:-9000px;
	width:300px;
	}
*:first-child+html #header h1 a{margin-top:15px;}/* hack for ie7*/

/* Top menu & User Info starts here*/
.tmenu{float:left; margin-top:18px; }
*:first-child+html .tmenu{margin-top:33px;}
.top_menu{
	display:block;
	list-style:none;
	padding-left:8px;
	margin:0px;
	height:14px;
	background:url(../img/star_green.png) left no-repeat;
}
.top_menu li{
	float:left;
	list-style:none;
	margin:0px;
	font-weight:bold;
}
.top_menu li a{
	text-decoration:none;
	color:#666;
	padding:0px 10px;
}
.top_menu li.last a{padding-right:0px; color:#009E83}
.top_menu li:after{content:"|";}
.top_menu li.last:after{content:none; }

.u_info{
		margin-top:10px;
		text-align:left;
}
.u_info p{margin:0px; padding:0px; }

.clear{clear:both}

.bodywraper h1{
	font-weight:normal;
	color:#007362;
	margin:0px;
	display:block;
	border-bottom:solid 1px #bfbfbf;
}
.bodywraper h1 span{
	color:#999;
}
.bodywraper h2{
	color:#4e81be;
	font-weight:normal;
}
.cont_wrap{
	display:inline-block;
	width:100%;
	/*margin-top:15px;*/
	z-index:1;
	zoom:1;
	
}
.menu_wrap{
	width:18%;
	min-height:400px;
	float:right;
	margin-right:1px;
	position:relative;
	z-index:1;
	}
.menu_scroll{
	background-color:#FFF; 
	padding:2px;
	border:solid 1px #d0d2d5;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:5px;
	width: 100%;
	float:left;
	position:relative;
	left:0px;
	display:inline-block;
	
}
 .mani{
	position:absolute;
	left:-15px;
	top:200px;
	background:url(../img/mani.png) no-repeat;
	width:18px;
	height:125px;
	z-index:4 ;
}
*:first-child+html .mani{
	left:-2px !important;
	display:inline-block !important;
	
}



.tab_menu
	{
	width:100%;
	display:inline-block;
	clear:both;
	margin:0px 0px 10px 0px;
	}
	.tab_menu ul
	{
	margin:10px 0px 0px 0px;
	padding:0px;
	display:inline-block;
	}
	.tab_menu ul li
	{	
	list-style:none;
	float:left;
			}
	.tab_menu ul li a:link,.tab_menu ul li a:visited
	{
	 background:#93BBE3;
	 list-style:none;
	 display:inline-block;
	 padding:6px 10px 6px 10px;
	 margin:0px 1px;
	-moz-border-radius:0.4em 0.4em 0 0;
    -webkit-border-radius:0.4em 0.4em 0 0;
	text-decoration:none;
	font-size:1.10em;
	color:#ffffff;
	border:1px #28619b solid; 
	border-bottom:0px;
	font-weight:bold;
	
	}
	.tab_menu ul li	a:hover
	{
		background:#e5e8ec;
		border:1px #e5e8ec solid;
		border-bottom:0px; 
		color:#454444;	
		
	}
	.tab_menu ul li.active a
	{
		background:#e5e8ec;
		border:1px #e5e8ec solid;
		border-bottom:0px; 
		color:#454444;	
		
	}







.setupbox{
	list-style:none;
	display:inline-block;
	padding-left:0px;
	margin:0px 4px;
	width:218px;
	border:solid 1px #e5e8ec;
	float:left;
}
.setupbox li.h_title{
	background:#d1dbe6 url(../img/h_indicator.png) left no-repeat;
	font-weight:bold;
	padding:5px 2px 6px 40px;
	font-size:1.20em;
	
}
.setupbox li.hd{
	padding:6px 2px 8px 5px;
	background-color:#f1f3f5;
}
.setupbox li.ld{
	padding:6px 2px 8px 5px;
	background-color:#fff;
}
.setupbox li input{
	float:right;
	margin:0px;
	margin-right:4px;
}
/* common Form fields*/
.btn_area{
	display:inline-block;
	width:100%;
	clear:both;
	margin-top:20px;
	text-align:right;
	
}
.btn_area p{
	margin-top:2px;
	margin-right:10px;
	display:inline-block;
	
}
.btn_area p a{
	color:#73be4e;
	font-size:1.4em;
	margin:0px;
	padding:0px;
	padding-right:10px;
}

button{
	float:right;
	color:#FFF;
	background:url(../img/btn.png) left top no-repeat;
	height:31px;
	border:0px;
	vertical-align:middle;
	padding-left:4px;
	padding-right:0px;
	padding-top:0px;
}
*:first-child+html button span{margin-left:-8px;margin-right:-10px;margin-top:0px; display:inline-block}/*fix for IE7*/
button:hover span{
	color:#4e81be;
	text-shadow: 0px 0px 2px #fff;
	filter: dropshadow(color=#fff, offx=1, offy=1);
}

button span{
	cursor:default;
	font-size:1.4em;
	display:block;	
	background:url(../img/btn.png) right -32px no-repeat;
	height:31px;
	/*margin-top:-1px;*/
	padding-top:4px;
	padding-right:11px;
	padding-left:4px;
	text-shadow: 0px 0px 2px #004F00;
	filter: dropshadow(color=#004F00, offx=0, offy=0);
}

	
.info{
	
	color:#333;
	background:#ffefba ;
	padding:10px 0px 10px 0px;
	text-align:left;
	display:inline-block;
	width:100%;
	border:solid 1px #ffa26a;
}
	
.info span{
	background:url('../img/info.png') 5px center no-repeat;
	padding:6px 18px;
	}
#tool_box{
	display:inline-block;
	background-color:#e5e8ec;
	border:0px;
	border-left:solid 1px #d0d2d5;
	border-bottom:solid 1px #d0d2d5;
	position:absolute;
	top:-1px;
	right:-1px;
	float:right;
	padding:8px 4px;
	-moz-border-radius-bottomleft:5px ;
	border-bottom-left-radius:5px ;
	-moz-box-shadow: -5px 3px 4px #888;
	box-shadow: -5px 3px 4px #888;
	-webkit-box-shadow: -5px 3px 4px #888;
}
#tool_box button{float:none; background:#e5e8ec; color:#666;margin:0px 5px; }
#tool_box #ctmz{
	background:#d7d9dd url(../img/tools.png) top left no-repeat;
	color:#333;
	height:26px;
	padding-left:30px;
	padding-right:5px;
}
#tool_box #ctmz:hover{background-color:#666; color:#fff;}
#tool_box #a_more{
	background:#d7d9dd url(../img/tools.png) left -26px no-repeat;
	color:#333;
	height:26px;
	padding-left:30px;
	padding-right:5px;
}
#tool_box #a_more:hover{background-color:#666; color:#fff;}
*:first-child+html #tool_box button {display:inline-block; width:100px;}/*fix for IE7*/

/* Widget class starts Here */
	.column {float: left; display:block; min-width:48%; min-height:350px; margin-right:2%; width:48%;  }
	*:first-child+html .column { min-width:47.5%; width:47.5%;}
	.placeholder { border: 1px dotted #fff; visibility: visible !important; background-color:#e5e8ec; margin:25px 10px 0px 10px;}
	.placeholder * { visibility: hidden; }
	.ui-icon-gripsmall-diagonal-se {background-position:-68px -224px;}
	.ui-icon {background-image:url(../img/ui-icons_222222_256x240.png);height:16px;	width:16px;}
	.ui-resizable { position: relative;}
	.ui-resizable-helper { border: 1px dotted gray; }
	.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 1 !important; display: block;}
	.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
	.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0px; }
	.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0px; }
	.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0px; height: 100%; }
	.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0px; height: 100%; }
	.ui-resizable-se { cursor: se-resize; width: 12px; height: 12pxpx; right: 1px; bottom: 1px; }
	.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
	.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
	.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}


.widget{
	background:#fff url(../img/wout_bg.png) no-repeat left top;
	display:block;
	width:100%;
	min-width:150px;
	min-height:220px;
	height:auto;
	margin:25px 10px 0px 10px;
	border:solid 2px #F4F4F4;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:5px;
	-moz-box-shadow: 2px 2px 2px #ccc; 
 	-webkit-box-shadow: 2px 2px 2px #ccc;  
    box-shadow: 2px 2px 2px #ccc; 
}
.framer{min-width:100%;
	min-height:170px; }
.widget .win_bg{
	/*background: url(../img/win_bg.png) no-repeat right bottom;*/
	display:block;
	padding:5px 5px 5px 5px;
}
.widget h3{
	background:transparent url(../img/pin.png)  no-repeat 5px top;
	/*color:#4d81bf;*/
	color:#666;
	padding: 8px 0px 5px 30px;
	font-size:1.10em;
	margin:0px;
	cursor:move;
	
	/*position:relative;
	top:-5px;*/	
}

.widget h3 a{float:right; margin-top:-2px; border:solid 1px #fff; text-decoration:none; cursor:pointer}
*:first-child+html .widget h3 a {margin-top:-20px;}
.widget h3 a:hover{
	border:solid 1px #d0d2d5;
	background-color:#FFF;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius:2px;
}
.widget h3 a.min{
	background:transparent url(../img/refresh.png) no-repeat center -22px;
	display:inline-block;
	width:14px;
	padding:2px;
	text-indent:-400px;
	overflow:hidden;
	 margin-right:5px;
	
}
.widget h3 a.max{
	background:transparent url(../img/refresh.png) no-repeat center -42px;
	display:inline-block;
	width:14px;
	padding:2px;
	text-indent:-400px;
	overflow:hidden;
	 margin-right:5px;
	
}

.widget h3 a.refresh{
	background:transparent url(../img/refresh.png) no-repeat center top;
	display:inline-block;
	width:14px;
	padding:2px;
	text-indent:-400px;
	overflow:hidden;
	margin-right:15px;
}
/*ceebox*/
/* CeeBox CSS Document */
/* Minor change made for 2.0.6 */
/* Works with 2.0.4 and up */
/* ----------------------------------------------------------------------------------------------------------------*/
/* -------->> global settings needed for ceebox <<<-----------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
/**{padding: 0; margin: 0;}
html,body{height:100%;}*/

/* ----------------------------------------------------------------------------------------------------------------*/
/* -------->> ceebox specific background images <<<-----------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/

#cee_closeBtn 		{ background-image: url(../img/cee-close-btn.png); }
#cee_next 			{ background-image: url(../img/cee-next-btn.png); }
#cee_prev 			{ background-image: url(../img/cee-prev-btn.png); }
* html #cee_next 	{ background-image: url(../img/cee-next-btn.gif); } /* IE6 hack */
* html #cee_prev 	{ background-image: url(../img/cee-prev-btn.gif); } /* IE6 hack */
#cee_load 			{ background-image: url(../img/loader.gif);}
/* ceebox border width controled as option in jquery.ceebox.js */
/* colors for ceebox background and border can also be set as option in jquery.ceebox.js  */
#cee_box			{background-color: #fff;border-color:#525252;border-style: solid; -moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px; }

/* ----------------------------------------------------------------------------------------------------------------*/
/* -------->> ceebox specific link and font settings <<<------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/

#cee_box {
	font: 12px Arial, Helvetica, sans-serif;
	color: #333333;
	background-color: #fff;
}

#cee_count {
	font: 10px Arial, Helvetica, sans-serif;
	-moz-opacity: 0.8;
	opacity: 0.8;/* opacity used to reduce contrast of font color so that any main color will work */
	clear:left;
	float:left;
	padding: 2px 0 4px;
}
.cee_html #cee_title h2 {float:left;}
.cee_html #cee_count {clear:none;padding-left:5px;}
* html #cee_count { /* ie6 hack */
	zoom:1;
	padding-bottom:6px;
}
#cee_next,#cee_prev{
	height:100%;
	width: 49%;
	text-indent:-10000px;
	text-decoration:none;
	visibility:visible;
	background-repeat:no-repeat;
}

#cee_box a {border:0;outline:none}
#cee_box a:link {color: #666;}
#cee_box a:visited {color: #666;}
#cee_box a:hover {color: #000;}
#cee_box a:active {color: #666;}
#cee_box a:focus{color: #666;}

#cee_closeBtn {
	background-repeat: no-repeat;
	display:box;
	width:24px;
	height:23px;
	position:absolute;
	text-indent:-10000px;
}
/* Next up a bunch of ugly css hacks to fix the fact that IE cuts off the close button when it floats negative. 
Yeah "thou shalt not hack the css" ...so sue me it's better than handling it in the javascript */ 
#cee_closeBtn {top:3px;right:3px;} /* base value only here for IE8 */
#cee_closeBtn, #ie8#hack {top:-10px;right:-10px;} /* All browsers except IE8 see this; IE8 keeps using the */
*:first-child+html #cee_closeBtn{top:-3px;right:-3px;} /* only IE7 sees this*/ 
* html #cee_closeBtn{top:-3px;right:-3px;} /*only IE 6 sees this*/

#cee_closeBtn:hover {
	background-position: 0px -23px;
	}
	
.cee_close {cursor:pointer}

/* ----------------------------------------------------------------------------------------------------------------*/
/* -------->> ceebox settings <<<-----------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/

#cee_box {
	text-align:left;
	color:#000;
}

#cee_box img#cee_img, #cee_vid,#cee_iframeContent,#cee_ajax {

	display:block;
	margin: 15px 15px 0;
/*	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #666;
	border-left: 1px solid #666;*/
	border:0px;
}

#cee_title {
	padding:7px 15px 5px 15px;
	overflow:hidden;
}
.cee_html #cee_title{
	background-color:#009E83;
	height:18px;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	border-bottom:solid 3px #FEC61F;
}
#cee_title h2 {
	font-size:1em;
	font-weight:bold;
	margin:0 0 1px;
	color:#fff;
}

#cee_ajax{
	clear:both;
	padding:2px 15px 15px 15px;
	overflow:auto;
	text-align:left;
	line-height:1.4em;
}

#cee_load{
	display:none;
	height:50px;
	width:50px;
	margin: -25px 0 0 -25px; /* -height/2 0 0 -width/2 */
	background-position: center center;
	background-repeat:no-repeat;
}

#cee_HideSelect{
	z-index:99;
	position:fixed;
	top: 0;
	left: 0;
	background-color:#fff;
	border:none;
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	height:100%;
	width:100%;
}

* html #cee_HideSelect { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#cee_iframe{
	clear:both;
	border:none;
	margin-bottom:-1px;
	margin-top:1px;
}
/* LHS_menu
---------------------------------------------*/

.glossymenu{
	width: 100%; /*width of menu*/
	
}


.glossymenu a.menuitem{
	background-color:#e5e8ed;
	font-size:1em;
	font-weight:bold;
	color:#555;
	display: block;
	position: relative; /*To help in the anchoring of the ".statusicon" icon image*/
	width: auto;
	padding: 6px 0;
	padding-left: 10px;
	text-decoration: none;
	border-bottom:solid 1px #fff;
}
*:first-child+html .glossymenu a.menuitem {zoom:1;}/* ie7*/
.glossymenu a.menuitem:visited, .glossymenu .menuitem:active{
color: #555;
}

.glossymenu a.menuitem .statusicon{ /*CSS for icon image that gets dynamically added to headers*/
position: absolute;
top: 5px;
right: 5px;
border: none;
}

.glossymenu a.menuitem:hover{
background-image:url(../img/glossyback.gif);
color:#fff;
}


.highlt{
background-image:url(../img/glossyback.gif);
color:#fff !important;
}


.glossymenu div.submenu{ /*DIV that contains each sub menu*/
background: white;
}

.glossymenu div.submenu ul{ /*UL of each sub menu*/
list-style-type: none;
margin: 0;
padding: 0;
}

.glossymenu div.submenu ul li{
border-bottom: 1px dotted #c1c4c0;
}

.glossymenu div.submenu ul li a{
	display: block;
	font-size:1em;
	color: black;
	text-decoration: none;
	padding-left: 10px;
	padding-top: 5px;
	padding-right: 0;
	padding-bottom: 5px;
	background-color:#fff;
}

.glossymenu div.submenu ul li a:hover,.glossymenu div.submenu ul li a:focus{
background: #ffc91d;
color: #333;
}
.footer{ 
	display:block; 
	clear:both; 
	width:99.5%; 
	margin:0px 0.25%;
	position:fixed; 
	bottom:0px; 
	background-color:#009E83;
	z-index:100; 
	/*border-top:solid 1px #999;
	border-left:solid 1px #999;
	border-right:solid 1px #999;*/
	-moz-border-radius-topleft:5px ;
	-moz-border-radius-topright:5px ;
	border-top-left-radius:5px ;
	border-top-right-radius:5px ;
	-moz-box-shadow: 0px -1px 1px #999;
	box-shadow: 0px -1px 2px #999;
	-webkit-box-shadow: 0px -1px 2px #999;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";filter: alpha(opacity=90);moz-opacity:0.9;-khtml-opacity: 0.9;opacity: 0.9;

	}
.footer .links{float:left; margin:5px 2px; }
.footer .links li { float:left; list-style:none;}
.footer .links li a {
	background:transparent url(../img/blue_piper.gif) right 3px no-repeat;
	color:#b8fee0;
	font-size:0.92em;
	height:0.92em;
	margin-right:7px;
	padding-right:7px;
	}
foooter .links li.last a {
	background:none;
	padding-right:0;
	}
.footer .copyright {
	color:#b8fee0;
	float:right;
	font-size:0.92em;
	padding:5px 30px;
	margin:0px;
	}